<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex fxLayout fxHide.xs>
      <a [routerLink]="['/']">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">보드</span>
      </a>
      <a [routerLink]="['/apps']">
        <mat-icon class="icon">apps</mat-icon>
          <span class="label">앱</span>
      </a>
    </div>

    <div>
      <li *ngIf="(signService.isAuthenticated() && loginUser)">
        <app-avatar-photo [photoUrl] = "" [name]="loginUser.name"></app-avatar-photo>
        <mat-slide-toggle labelPosition="before">Dark theme</mat-slide-toggle>
      </li>
    </div>
  </mat-toolbar-row>
</mat-toolbar>