<mat-tab-group dynamicHeight>
    <mat-tab>
        <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_circle</mat-icon>사용자
        </ng-template>

        <div class="wrapper">
            <div class="container" [ngStyle]="{'background-image': getBackgroundImageUrl()}">
                <div fxLayout fxLayoutAlign="flex-end">  <!-- 오른쪽 정렬 -->
                    <mat-form-field fxFlex="39%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
                <mat-table [dataSource]="userDataSource" matSort cdkDropListGroup #mytable class="my-table mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let user" class="column-center">{{user.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="role">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
                        <mat-cell *matCellDef="let user" class="column-center">
                            <div *ngIf="editingUser === user; else elseBlock">
                                <mat-radio-group class="example-radio-group" [(ngModel)]="user.role.role" aria-label="Select a role">
                                    <mat-radio-button value="Administrator">관리자</mat-radio-button>
                                    <mat-radio-button value="User">사용자</mat-radio-button>
                                </mat-radio-group>
                                <button style="margin-right:5px" mat-stroked-button color="primary" (click)="updateUser(user)">저장</button>
                                <button mat-stroked-button (click)="editingUser=null">취소</button>
                            </div>
                            <ng-template #elseBlock>
                                {{ userRole(user.role.role) }}
                                <button style="margin-left:5px" mat-stroked-button color="primary" (click)="editing(user)">편집</button>
                            </ng-template>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
                        <mat-cell *matCellDef="let user" class="column-center">
                            <mat-icon class="icon" *ngIf="isSupervisor()" (click)="deleteUser(user)">delete_forever</mat-icon>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="userDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: userDisplayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
                </mat-paginator>
                <div *ngIf="userDataSource.data.length === 0" class="no-content">
                    등록된 사용자가 없습니다.
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">table_view</mat-icon>라이센스 
        </ng-template>

        <section class="board">
            <div margin-bottom="15px">
                <button mat-raised-button color="primary" (click)="generateLicense()">
                    <mat-icon>add</mat-icon> Add License 
                </button>
            </div>
        </section>

        <div class="wrapper">
            <div class="container" [ngStyle]="{'background-image': getBackgroundImageUrl()}">
                <div fxLayout fxLayoutAlign="flex-end">  <!-- 오른쪽 정렬 -->
                    <mat-form-field fxFlex="39%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
                <mat-table [dataSource]="dataSource" matSort cdkDropListGroup #mytable class="my-table mat-elevation-z8">
                    <ng-container matColumnDef="uid">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center">{{element.uid}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="mac">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>MAC</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.mac}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email" fxLayoutAlign="flex-end">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center">{{element.email}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="app">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>App</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center">{{element.app}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="count">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Count</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center">{{element.count}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="code">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center">
                            <input matInput [(ngModel)]="element.code" disabled />
                            <button mat-button *ngIf="element.code" [cdkCopyToClipboard]="element.code" matSuffix mat-icon-button aria-label="Copy" (click)="copy()">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="column-center">
                            <mat-icon class="icon" *ngIf="isSupervisor()" (click)="delete(element)">delete_forever</mat-icon>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
                </mat-paginator>
                <div *ngIf="dataSource.data.length === 0" class="no-content">
                    등록된 라이센스가 없습니다.
                </div>
            </div>
        </div>
  </mat-tab>
</mat-tab-group>